<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <title>irgo - Workouts</title>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="/"><h1><em>irgo</em></h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h3>Workouts:</h3>
                    <ul class="list-group overflow-auto" style="height: 100%;">
                        {% for workout in workouts %}
                            <li  class="list-group-item"><a href="/workout?w={{workout['_id']}}"><h5>{{workout['title']}}</h5></a>{{workout['date']}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>

        <script>
            if (Math.floor(Math.random()*6) == 1){
                var now = new Date()
                if (now.getHours() > 18){
                    if (now.getHours() < 20){
                        alert("Warning: The server has detected you looking at erg scores during dinner. Please look up from your phone and engage with those around you.");
                    }
                }
            }
        </script>


        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>     
    </body>
</html>
